<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Facebook Friends</title>

    <link href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
      <h1>Hello</h1>
      <h2>Meet you're friends</h2>
      <p class="lead">Friends, glorious friends!</p>
      <ul id="friends" class="list-group"></ul>
    </div>

    <script src="{{ url_for('static', filename='js/lib/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/react-dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery.1.11.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/babel-5.8.24.min.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
